**/node_modules
**/yarn.lock
**/.idea
**/.vscode
**/.bsp
**/out
**/.webpack
**/yarn.lock
**/dist/
**/build/
**.js.map
**.css.map
**/*.env
**/.DS_Store
**/target
version.properties
db_config.json
**/__pycache__
package-lock.json
server-config.ts
!server-config-template.env
!minio-config-template.env